body {
	font-family: sans-serif;
	background-color: #323B55;
}

/*позиционирование элементов*/
#login-form {
	width: 300px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -75px;
}

/*скрываем label*/
#login-form label {
	display: none;
}

/*позиционирование полей ввода*/
#login-form input[type="email"],
#login-form input[type="password"] {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	background-clip: padding-box;
	border-radius: 40px;
	outline: none;
}

/*позиционирование кнопки*/
#login-form input[type="submit"] {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, .49);
	background-clip: padding-box;
	border-radius: 10px;
	background-color: #5466da;
	cursor: pointer;
	outline: none;
}

#login-registration {
	width: 100%;
	height: 20px;
	position: absolute;
	margin-top: 12px;
	margin-left: 116px;
	color: white;
	font-size: 15px;
}

#login-registration:hover {
	width: 100%;
	height: 20px;
	position: absolute;
	margin-top: 12px;
	margin-left: 116px;
	color: #5466da;
	font-size: 15px;
}

#registration-form {
	width: 300px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -75px;
}

/*скрываем label*/
#registration-form label {
	display: none;
}

/*позиционирование полей ввода*/
#registration-form input[type="text"],
#registration-form input[type="email"],
#registration-form input[type="password"] {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	background-clip: padding-box;
	border-radius: 40px;
	outline: none;
}

/*позиционирование кнопки*/
#registration-form input[type="submit"] {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, .49);
	background-clip: padding-box;
	border-radius: 10px;
	background-color: #5466da;
	cursor: pointer;
	outline: none;
}

.lk-head {
	width: 100%;
	height: 60px;
	position: relative;
	margin-top: 10px;
	margin-left: 50%;
	left: -125px;
	text-shadow: 1px 1px 2px black;
	color: white;
}

.side-list {
	width: 100%;
	height: 20px;
	position: relative;
	margin-top: 10px;
	margin-left: 15px;
}

.side-list-a {
	color: white;
}

.side-list-a:visited {
	color: white;
}

.side-list-a:active {
	color: white;
}

.side-list-a {
	text-decoration: none;
}

#gate {
	cursor: pointer;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-top: 20px;
	width: 83px;
	height: 46px;
}

#ball {
	cursor: pointer;
	width: 40px;
	height: 40px;
}

/*стили для конструктора зала*/

.head-container {
	display: flex;
	flex-direction: row;
	padding: 20px;
	align-content: center;
}

.work-container {
	display: flex;
	flex-direction: row;
	height: 500px;
	margin: 0 -5px;
	padding: 20px;
	align-content: center;
}

.furniture-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	align-content: center;
}

.head-container div {

}

.work-container div {

}

.furniture-container div {

}

.head-box-1 {
	flex-grow: 3;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.head-box-2 {
	flex-grow: 1;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.work-box-1 {
	flex-grow: 5;
	background-color: burlywood;
	margin: 0 5px;
}

.work-box-2 {
	flex-grow: 1;
	background-color: burlywood;
	margin: 0 5px;
	text-align: center;
	font-weight: bold;
	/*padding: 10px;*/
}

.furniture-box-1 {
	margin-top: 20px;
}

.furniture-box-2 {
	margin-top: 40px;
}

/*.wrapper {*/
/*	display: grid;*/
/*	grid-template-columns: 2fr 1fr;*/
/*	grid-template-rows: 50px 1fr;*/
/*	grid-gap: 10px;*/
/*	grid-template-areas:*/
/*	"t t"*/
/*	"h f";*/
/*}*/

/*.head-text {*/
/*	display: grid;*/
/*	grid-area: t;*/
/*	grid-template-columns: 2fr 1fr;*/
/*	grid-template-rows: 50px;*/
/*	grid-template-areas:*/
/*	"th tf";*/
/*	font-size: 20px;*/
/*	font-weight: bold;*/
/*	color: white;*/
/*}*/

/*.head-text-hall {*/
/*	grid-area: th;*/
/*	position: relative;*/
/*	margin: auto;*/
/*}*/

/*.head-text-furniture {*/
/*	grid-area: tf;*/
/*	position: relative;*/
/*	margin: auto;*/
/*}*/

/*.wrapper-hall {*/
/*	grid-area: h;*/
/*	background-color: burlywood;*/
/*	width: 500px;*/
/*	height: 500px;*/
/*	position: relative;*/
/*	margin: auto;*/
/*}*/

/*.wrapper-furniture {*/
/*	display: grid;*/
/*	grid-area: f;*/
/*	grid-template-columns: 1fr;*/
/*	grid-template-rows: 1fr 1fr;*/
/*	grid-template-areas:*/
/*	"ft"*/
/*	"fs";*/

/*	background-color: burlywood;*/
/*	width: 200px;*/
/*	height: 500px;*/
/*	position: relative;*/
/*	margin: auto;*/
/*}*/

/*.furniture-table {*/
/*	grid-area: ft;*/
/*	!*background-color: white;*!*/
/*}*/

/*.tables-text {*/
/*	position: relative;*/
/*	height: 25px;*/
/*	width: 100px;*/
/*	margin: auto;*/
/*	margin-top: 50px;*/
/*	!*background-color: brown;*!*/
/*	text-align: center;*/
/*	font-size: 20px;*/
/*	font-weight: bold;*/
/*}*/

/*.tables {*/
/*	position: relative;*/
/*	height: 50px;*/
/*	width: 50px;*/
/*	margin: auto;*/
/*	margin-top: 30px;*/
/*	background-color: black;*/
/*	border-radius: 10px;*/
/*	cursor: pointer;*/
/*}*/

/*.furniture-sofa {*/
/*	grid-area: fs;*/
/*	!*background-color: #5466da;;*!*/
/*}*/

/*.sofas-text {*/
/*	position: relative;*/
/*	height: 25px;*/
/*	width: 100px;*/
/*	margin: auto;*/
/*	margin-top: 50px;*/
/*	!*background-color: brown;*!*/
/*	text-align: center;*/
/*	font-size: 20px;*/
/*	font-weight: bold;*/
/*}*/

/*.sofas {*/
/*	position: relative;*/
/*	height: 50px;*/
/*	width: 100px;*/
/*	margin: auto;*/
/*	margin-top: 30px;*/
/*	background-color: black;*/
/*	border-radius: 10px;*/
/*}*/




/*.hovered {*/
/*	background-color: red;*/
/*}*/

/*.hide {*/
/*	display: none;*/
/*}*/

/*.draggable {*/
/*	cursor: pointer;*/
/*}*/